@use '@/styles/helpers' as *;

.hero {
  background-image: url('@/assets/images/home-hero-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: rem(834);
  @include tablet {
    height: rem(636);
  }

  @include mobile {
    height: rem(554);
    text-align: center;
  }

  &Inner {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: rem(116);

    @include tablet {
      padding-top: rem(38);
    }

    @include mobile {
      padding-top: rem(68);
      align-items: center;
    }
  }

  &Subtitle {
    font-size: rem(18);
    font-weight: 500;
    margin-bottom: rem(32);
    @include tablet {
      font-size: rem(16);
      margin-bottom: rem(20);

    }

    @include mobile {
      font-size: rem(12);
    }
  }

  &Title {
    font-size: rem(40);
    font-weight: 600;
    margin-bottom: rem(22);
    max-width: rem(660);
    @include tablet {
      font-size: rem(32);
      margin-bottom: rem(16);
      max-width: rem(533);
    }

    @include mobile {
      font-size: rem(20);
      margin-bottom: rem(12);
      max-width: none;

    }
  }

  &Text {
    font-size: rem(16);
    font-weight: 500;
    margin-bottom: rem(27);
    max-width: rem(542);
    @include tablet {
      font-size: rem(14);
      margin-bottom: rem(32);
      max-width: rem(514);
      line-height: rem(24);
    }

    @include mobile {
      font-size: rem(12);
      line-height: rem(22);
      max-width: none;

    }
  }
}